@import "tailwindcss";

@theme {
  /* Warna kustom untuk tema Islami */
  --color-primary: #064e3b; /* Emerald gelap */
  --color-secondary: #10b981; /* Emerald terang */
  
  /* Font Arabic (Opsional: pastikan panggil di index.html atau via Google Fonts) */
  --font-arabic: "Amiri", serif;
}

/* Reset default margin/padding */
body {
  @apply bg-slate-50 text-slate-900;
}