@import "tailwindcss";

@theme {
  --color-gold: #b2944d;
  --color-charcoal: #1a1a1a;
  --color-ivory: #fdfcf8;
  --font-serif: "Cormorant Garamond", serif;
  --font-arabic: "Amiri", serif;
}

body {
  @apply bg-ivory text-charcoal font-serif;
}

@utility no-scrollbar {
  ::-webkit-scrollbar { display: none; }
  -ms-overflow-style: none;
  scrollbar-width: none;
}